Springia/ch09ws/WebContent/WEB-INF/hello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.example.org/hello/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="hello" targetNamespace="http://www.example.org/hello/">
  
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/hello/">
        <xsd:element name="typeRequest" type="xsd:string"/>
        <xsd:element name="typeResponse" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="messageRequest">
    <wsdl:part element="tns:typeRequest" name="messageRequestName"/>
  </wsdl:message>
  <wsdl:message name="messageResponse">
    <wsdl:part element="tns:typeResponse" name="messageResponseName"/>
  </wsdl:message>
  
  <wsdl:portType name="helloPortType">
    <wsdl:operation name="sayHello">
      <wsdl:input name="portTypeRequest" message="tns:messageRequest"/>
      <wsdl:output name="portTypeResponse" message="tns:messageResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="helloSOAP" type="tns:helloPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction=""/>
      <wsdl:input name="portTypeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="portTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="IHello">
    <wsdl:port binding="tns:helloSOAP" name="helloPort">
      <!-- 这里是ws客户端访问地址 -->
      <soap:address location="http://localhost:8080/ch09ws-xx/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
